# OpenAI Compatible LLM Configuration

# Base URL of the LLM API
BASE_URL=https://openrouter.ai/api/v1

# Model name to use
# MODEL=qwen/qwen3.5-2b
MODEL=nvidia/nemotron-3-super-120b-a12b:free

# API Token (if required)
# API_KEY=sk-local-llm
API_KEY=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

ANYTHING_API_KEY=CDK8QBR-S13M060-PN1QFMP-GWC34B9
ANYTHINGLLM_API_KEY=CDK8QBR-S13M060-PN1QFMP-GWC34B9
ANYTHINGLLM_WORKSPACE_SLUG=assistant-chats


# Example prompt for testing
PROMPT=请用一句话介绍什么是LLM

# Maximum tokens to generate
MAX_TOKENS=500
